<div class='row'>

  <div class='col-md-6 col-md-offset-3'>

    <h1>About MerchEgg</h1>
    <div class='profile-card'>
      <h3>What is MerchEgg?</h3>
      <p>It's a service that allows users to upload files, and allow access to those files by distributing codes</p>
      <h3>Why?</h3>
      <p>Rather than having to print CD's to distribute at gigs, or produce paintings for people to buy, artists can upload their files and either hand out or SMS codes to people who want to support them.</p>
      <h3>How it works</h3>
      <ol>
        <li>Artist signs up</li>
        <li>Artist creates a box</li>
        <li>Artist uploads their work (mp3s, image files, PDFs) to the box.</li>
        <li>Artist can print out or SMS codes to give Customers access to the box. It's up to the Artist if they want to charge for access.</li>
        <li>Customer clicks the link on the SMS OR goes to the MerchEgg website and finds the box and enters the code</li>
        <li>Customer's account now has access to the code</li>
      </ol>
      <h3>Limitations</h3>
      <p>Storage and SMS ain't free, so there are two different plans with the following limitations</p>
      <table class="table h4 text-center">
        <thead>
          <th class='text-center'>Feature</th>
          <th class='text-center'>Basic (free)</th>
          <th class='text-center'>Pro ($5 for 30 days)</th>
        </thead>
        <tr>
          <td>SMS's</td>
          <td>5</td>
          <td>10</td>  
        </tr>
        <tr>
          <td>Files</td>
          <td>10</td>
          <td>20</td>  
        </tr>
        <tr>
          <td>Codes Per Box</td>
          <td>10</td>
          <td>20</td>  
        </tr>
      </table>
    </div>  

  </div>  

</div>  