<div class='row'>

  <div class='col-md-6 col-md-offset-3'>

    <h1>Contact</h1>
    <div class='profile-card'>
      <p>This app was made by Jason Hinchcliffe for my term 2 major project at <a href="http://www.coderfactoryacademy.edu.au">Coder Factory Academy</a> bootcamp.</p>
      Get in touch via:
        <h2 class='text-center'><i class="fa fa-twitter" aria-hidden="true"></i></h2>
        <h2 class='text-center'><a href='http://twitter.com/jfhinch'>twitter.com/jhinch</a></h2>
        <h2 class='text-center'><i class="fa fa-window-restore" aria-hidden="true"></i></h2>
        <h2 class='text-center'><a href='http://jfhinchcliffe.github.io'>jfhinchcliffe.github.io</a></h2>
        <h2 class='text-center'><i class="fa fa-github-alt" aria-hidden="true"></i></h2>
        <h2 class='text-center'><a href='http://github.com/jfhinchcliffe'>github.com/jfhinchcliffe</a></h2>
    </div>  
      
  </div>  

</div>  