<div class="row text-center">
  <h1>Search Results...</h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'profile_card' %>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <%= render 'profiles/profile_search' %>
  </div>
</div>