<div class="row">
  <h3 class="text-danger">Admin Functions</h3>
  <%= link_to 'New Item', new_box_item_path(@box), class: 'btn btn-default' %>
  <%= link_to 'Box Codes', box_codes_path(@box), class: 'btn btn-default' %>
</div>