<table class="download-table table table-hover text-center">
  <thead>
    <tr>
      <th class="text-center"><h2>File Name</h2></th>
      <th class="text-center"><h2>Download</h2></th>  
    </tr>
  </thead> 
  <tbody>
    <% @box.items.each do |item| %>
      <tr>
        <td><h4><%= item.name %></h4></td>
        <td><%= link_to 'Download', "#{item.download_path}", download: "data", class: 'btn btn-primary' %></td>
        <td></td>
      </tr>  
    <% end %>
  </tbody>
</table>
 