<h1>Payment</h1>
<p>Thanks very much!</p>
<p>Your payment of <%= monetise(@amount) %> has received and 1 month has been added to your pro account</p>
<p><%= link_to 'View all payments', payments_path %></p>
