/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   padding-top: 60px;
   padding-bottom: 60px;
   font-family: 'Titillium Web', sans-serif;
 }

 .jumbotron img {
  border-radius: 100%;
  border: 1px solid black;
}

.profile-card {
  /*background-color: blue;*/
  position: relative;
}

.profile-card p {
  padding-right: 150px;
  height: 100px;
}

.form-control {
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.profile-card img {
  position: absolute;
  top: 20px;
  right: 0px;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 1px solid slategrey;
}

.front-page{
  background-color: black;
  background: url(http://res.cloudinary.com/hinchy/image/upload/v1479443910/me_bg_nkvpmy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px;
}

.navbar-default {
  background-color: rgba(88, 51, 124, 0.88);
  border: 0;
}

.nav.navbar-nav li a {
    color: antiquewhite;
}

.navbar-default .navbar-brand {
    color: antiquewhite;
}

.front-page .row {
  top: 25%;
}

.front-page .title {
  color: antiquewhite;
  padding: 2em;
  font-family: 'Permanent Marker', sans-serif; 
  letter-spacing: 3px;
}

.navbar-brand {
  font-family: 'Permanent Marker', sans-serif; 
  letter-spacing: 2px;
  color: antiquewhite;
}
